<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busy Bee Cleaning Co.</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
</head>
<body>
    <header>
        <nav>
            <img src="{% static 'image1/logo1.png' %}" class="logo" alt="logo">
            <ul class="centered-menu">
                <li><a href="{% url 'admin_home' %}">Home</a></li>
                <li><a href="{% url 'admin_services' %}">Services</a></li>
                <li><a href="{% url 'admin_about' %}">About Us</a></li>
                <li><a href="{% url 'admin_blog' %}">Blog</a></li> 
            </ul>
        </nav>
        <img src="{% static 'images/icon.jpg' %}" class="profile-icon" alt="Profile" onclick="toggleSidebar()">
    </header>

    <div id="sidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="toggleSidebar()">&times;</a>
        {% comment %} <a href="{% url 'admin_home' %}">Admin Dashboard</a>
        <a href="{% url 'admin_about' %}"></a>
        <a href="loginAdmin.html">Logout</a> {% endcomment %}
    </div>
    <div class="content">
        <div class="men_text">
            <h1>Clear<span>View</span></h1><br><h2>"Cleaning Services"</h2>

            <div class="main_image">
                <img src="images/girl-cleaning.png">
            </div>

            <div class="text">
                <p>
                    Sayago Cleaning Inc. offers a range of cleaning services,  
                    including residential cleaning for homes, such as deep cleaning and move-in/move-out services. 
                    They provide commercial cleaning for offices, retail spaces, and industrial facilities. 
                    Specialty services include carpet and upholstery cleaning, window washing, 
                    and eco-friendly green cleaning options. 
                </p>
            </div>
        </div>
    </div>
    <script src="index.js"></script>
</body>
</html>
