<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sayago's Cleaning Co.</title>

    <!-- Load static files -->
    {% load static %}

    <!-- Link to your CSS file -->
    <link rel="stylesheet" href="{% static 'styles/index.css' %}?101">
</head>
<body>
    <header>
        <nav>
            <div class="logo-title-container">
                <img src="{% static 'images/logo1.png' %}" class="logo" alt="logo">
                <h1 class="site-title">Sayago's Cleaning Services</h1>
            </div>            
            <ul class="centered-menu">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'home_services' %}">Services</a></li>
                <li><a href="{% url 'home_about' %}">About Us</a></li>
                <li><a href="{% url 'home_blog' %}">Blog</a></li> 
            </ul>
        </nav>
    </header>
    <main class="content" style="background-image: url('{% static 'images/noga.jpeg' %}');">
        <div class="content-overlay">
            <h2>Sayago's Cleaning Services</h2>
            <p> Sayago's Cleaning Services offers a range of cleaning services,  
                including residential cleaning for homes, such as deep cleaning and move-in/move-out services. 
                They provide commercial cleaning for offices, retail spaces, and industrial facilities. 
                Specialty services include carpet and upholstery cleaning, window washing, 
                and eco-friendly green cleaning options. </p>
            <a href="{% url 'login' %}" class="login-btn" id="login-btn">Book Now</a>
        </div>
    </main>
    
    
    <!-- Include your JS file -->
    <script src="{% static 'scripts/index.js' %}"></script>
</body>
</html>
