/* Base styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("{% static './images/bg.jpg' %}"); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit;
    background-size: cover;
    background-position: center;
    filter: blur(8px); /* Adjust the blur value as needed */
    z-index: -1; /* Send it behind the form container */
}

/* Form container styling */
.form-container {
    background-color: rgba(255, 255, 255, 0.9); /* Add transparency to form background */
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 370px;
    text-align: center;
    z-index: 1; /* Make sure the form stays on top of the background */
}

h1 {
    margin-bottom: 20px;
    color: #333;
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
}

/* Form group */
label {
    font-size: 0.9em;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 5px;
    font-size: 1em;
    background-color: #f9fafb;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
    border-color: #007bff;
    background-color: #fff;
}

/* Submit button */
.submit-btn {
    background-color: #09bc21;
    color: black;
    border: none;
    padding: 15px;
    width: 109%;
    font-size: 1em;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.submit-btn:hover {
    background-color: #007bff;
}

/* Sign up text */
.signup-text {
    margin-top: 15px;
    font-size: 0.9em;
    color: #666;
}

.signup-text a {
    color: #007bff;
    text-decoration: none;
}

.signup-text a:hover {
    text-decoration: underline;
}

/* Responsive design */
@media (max-width: 400px) {
    .form-container {
        width: 90%;
        padding: 20px;
    }
}
